
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #d87a7a, #00a0b5);
    color: #000000;
    padding: 20px;
    
}
h2 {
    font-size: 2em;
    color: #0060c6;
    border-bottom: 2px solid #0060c6; 
}
h3 { 
    font-size: 1.2em;
    line-height: 1cm;
    font-weight: bold;
}
 h4{
    font-weight: lighter;
    font-style: italic;
}
 p{
    font-size: 1.0em;
    font-weight: lighter;
    line-height: 1cm;
}
ul {
    font-size: 1.2em;
    line-height: 1.8;
    color: #000000;
    padding: 20px;
}
.container{
    padding: 20px;
    background-color: #ffffff;
    margin-bottom: 20px;
}
.headname{
    color: #0059ff;
    text-align: center;
    font-size: 6ch;
    font-weight: bold;
}
.address{
    color: #868686;
    text-align: center;
    margin-bottom: 10px;
}
.enl{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.intro{
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 65%;
    padding: 20px;
    margin-bottom: 20px;
}

.projects{
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 65%;
    padding: 20px;
    margin-bottom: 20px;
}
.certifications{
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 65%;
    padding: 20px;
    margin-bottom: 20px;
}
.publications, .marks, .societies{
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 65%;
    padding: 20px;
    margin-bottom: 20px;
}
